<html>
    <head>
        <style>
            body { margin:0 0 auto; }
            header { background: #f5f5f5; border-bottom: 1px solid lightgrey; margin-bottom: 30px; }
            header nav ul { margin-top: 0; padding-top:0; padding: 1em; float:none; }
            nav ul li { display:inline; list-style: none;  }
            nav li.left { float:left; }
            nav a { float:right; text-decoration: none; padding-left: 5px; }
            section.main { width: 45%; margin: 0px auto; }
            form fieldset { width:350px; border:1px solid lightgrey; }
            form fieldset div { float:none; clear:both; }
            form fieldset div label,
            form fieldset div input { float:right; }
            form fieldset div input[type="text"],
            form fieldset div input[type="password"] { width:230px;}
            div.error { color:red; }
        </style>
        <script
            src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <section>
            <header>
                {% include 'nav.twig' %}
            </header>
        </section>
        <section class="main">
            <article>
                {% include 'login.twig' %}
            </article>
        </section>
        {% if user %}
            <script type="text/javascript" src="script.js"></script>
        {% endif %}
    </body>
</html>
